{% extends 'company/company-profile.html'%}
{% load static %}


{% block content %}
<section class="profile-account-setting">
<div class="container">
<div class="account-tabs-setting">
<div class="row">
<div class="col-lg-3">
<div class="acc-leftbar">
<div class="nav nav-tabs" id="nav-tab" role="tablist">



<a class="nav-item nav-link" id="nav-privcy-tab" data-toggle="tab" href="#privcy" role="tab" aria-controls="privacy" aria-selected="false"><i class="fa fa-group"></i>Likes</a>


</div>
</div>
</div>
<div class="col-lg-9">
<div class="tab-content" id="nav-tabContent">

{% if s_msg %}
    <div class="alert alert-success" role="alert">
       {{s_msg}}
    </div>
{% endif %}

{% if e_msg %}
    <div class="alert alert-danger" role="alert">
       {{e_msg}}
    </div>
{% endif %}

            

<div class="tab-pane fade" id="privcy" role="tabpanel" aria-labelledby="nav-privcy-tab">
<div class="acc-setting">
<h3>Liked By:-</h3>
{% for i in p_likes_by %}
        <div class="requests-list">
        <div class="request-details">
        <div class="noty-user-img">
        <img src="{% static 'company/images/resources/r-img1.png'%}" alt="">
        </div>
        <div class="request-info">
        <h3>{{i.customer_id.customer_name}}</h3>
        <span>Graphic Designer</span>
        </div>
        <div class="accept-feat">
        <ul>
        <li><button type="submit" class="accept-req">Accept</button></li>
        <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
        </ul>
        </div>
        </div>
        </div>

{% endfor %}
</div>
</div>



</section>
{% endblock %}
